<launch>
  <!-- slam_karto -->
  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <rosparam command="load" file="$(find icar_slam)/config/karto_mapper_params.yaml" />
  </node>

  <!-- 启动rviz-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find icar_slam)/rviz/slam_karto.rviz"/>

</launch>