<launch>

    <param name="use_sim_time" value="true" />

    <!-- 设置地图的配置文件 -->
    <arg name="map" default="room.yaml" />

    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find icar_navigation)/maps/$(arg map)"/>

	<!-- 加载机器人模型描述参数 -->

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/> -->

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node> -->

    <!-- 启动AMCL节点 -->
    <include file="$(find icar_navigation)/launch/sim_amcl.launch" />

    <!-- 运行move_base节点 -->
    <include file="$(find icar_navigation)/launch/move_base.launch" />

    <!-- 设置一个/odom与/map之间的静态坐标变换 -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" /> -->

    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find icar_navigation)/rviz/navigation.rviz"/>

</launch>

